<div class="movie-list-container">
  <app-carousel
    [title]="'Filmes populares'"
    [items]="popularMovies"
    [isExplore]="false"
    [exploreLink]="'/movies/popular'"
  >
  </app-carousel>

  <app-carousel
    [title]="'Filmes mais bem avaliados'"
    [items]="topRatedMovies"
    [isExplore]="false"
    [exploreLink]="'/movies/top-rated'"
  >
  </app-carousel>

  <app-carousel
    [title]="'Filmes mais recentes'"
    [items]="upcomingMovies"
    [isExplore]="false"
    [exploreLink]="'/movies/upcoming'"
  >
  </app-carousel>
</div>
